.alertContainer, .formContainer {
    width: 70%;
    max-width: 480px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid#4896ac;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alertContainer h1 {
    font-size: 150%; 
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0%;
}

/* Tables */
    .tableContainer {
        width: 90%;
        height: 640px;
        height: auto;
        margin: 0 auto;
        background-color: white;
        border: 2px solid#4896ac;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .tableContainer caption,
    .tableContainer td,
    .tableContainer th {
        padding:1rem;
    }

    .tableContainer caption,
    .tableContainer th {
        text-align: left;
    }

    .tableContainer caption {
        font-size: 1.75rem;
        font-weight: 700;
        color:#2c3e50;
        text-align: center
    }

    /* React Table */

    .reactTable {
        margin-top: 10px;
        border: 1px solid lightblue;
        border-radius: 10px;
        background-color: lightblue;
    }

    .reactTable *{
        text-align: left;
        padding: 0px;
    }

    .headerCell{
        padding: 0;
        background-color: lightblue;
        border-bottom: 1px solid lightblue;
        border-left: 1px solid black;
        border-right: 2px solid black;
    }

    .header {
        background-color: lightblue;
    }

    .body {
        background-color: rgb(234, 234, 234);
    }

    .cell {
        border-top: 1px solid lightblue;
        background-color: lightblue;
        border-right: 1px solid black;
    }

    .subcell {
        background-color: rgb(255, 255, 255);
    }

    /* Schedule Table */
    .scheduleTable {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        margin: 1rem 0;
      }
      
      .scheduleTableHeader {
        font-size: 1.5rem;
        font-weight: 600;
        color: #2c3e50;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
      }
      
      .scheduleTable th {
        background-color:#4896ac;
        color: white;
        padding: 1rem;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.9rem;
      
      }
      
      .scheduleTable td {
        padding: 1rem;
        border-bottom: 1px solid #ecf0f1;
        background: white;
      
      }
      
      .scheduleTable tr:hover td {
        background-color: #f8f9fa;
      }
      
      
      .scheduleTable th:first-child {
        border-radius: 8px 0 0 0;
      }
      
      .scheduleTable th:last-child {
        border-radius: 0 8px 0 0;
      }
      
      .scheduleTable input[type="checkbox"] {
        margin-left: 40px;
        transform: scale(1.5);
        accent-color: #3498db;
        cursor: pointer;
      }

/**/

/*Buttons*/
    .toggleButton {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        background-color:#4896ac;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .toggleButton:hover {
        background-color: #3f6c77;
        color:white;
        transition-duration: 0.3s;
    }

    .toggleButton:active {
        background-color: #4896ac;
        color:white;
        transition-duration: 0.01s;
    }

    .saveButton {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        background-color:#4896ac;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .savedMessage {
        display: flex;
        left: 50%;
        justify-content: center;
        color: rgb(0, 0, 0);
        margin-top: 20px
    }

    .errorMessage {
        display: flex;
        left: 50%;
        justify-content: center;
        color: rgb(160, 56, 56);
        margin-top: 20px
    }

  


/**/

/* MOBILE VIEW */
@media (max-width: 768px) {
    .scheduleTable th {
        font-size: 2vw;
    }

    .tableContainer {
        height: auto;
    }


    h1 {
        font-size: 3vw;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 4vw;
    }
}