.alertContainer, .formContainer {
    width: 70%;
    max-width: 480px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid#4896ac;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alertContainer h1 {
    font-size: 150%; 
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0%;
}

/*Tables*/
    .tableContainer {
        width: 90%;
        height: 640px;
        margin: 0 auto;
        background-color: white;
        border: 2px solid#4896ac;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .tableContainer caption,
    .tableContainer td,
    .tableContainer th {
        padding:1rem;
    }

    .tableContainer caption,
    .tableContainer th {
        text-align: left;
    }

    .tableContainer caption {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .scheduleTable{
        width: 90%;
        margin: auto;
        border-collapse: collapse;
        background: lightblue;
        border: black;
    }

    .reactTable {
        margin-top: 10px;
        border: 1px solid lightblue;
        border-radius: 10px;
    }

    .reactTable *{
        text-align: left;
        padding: 0px;
    }

    .headerCell{
        padding: 0;
        background-color: lightblue;
        border-bottom: 1px solid lightblue;
        border-left: 1px solid black;
        border-right: 2px solid black;
    }

    .cell {
        border-top: 1px solid lightblue;
        border-right: 1px solid black;
    }
/**/

/*Buttons*/
    .toggleButton {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        background-color:#4896ac;
        font-size: 80%;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .toggleButton:hover {
        background-color: #3f6c77;
        color:white;
        transition-duration: 0.3s;
    }

    .toggleButton:active {
        background-color: #4896ac;
        color:white;
        transition-duration: 0.01s;
    }
/**/

/* Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 3vw;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 4vw;
    }
}