.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 200px);
    width: 100%;
    margin: auto;
    flex-direction: column;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 200px);    width: 100%;
    flex-direction: column;
}


h1 {
    font-size: 1.5em; 
    text-align: center;
    margin-bottom: 20px;
    margin-left: -50px;
}

.form-container {
    background-color: white;
    border: 2px solid#4896ac;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 420px;
    margin: 0 auto;
}

.form-input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.rounded-button {
    width: 100%;
    padding: 10px;
    background-color:#4896ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-container {
    display: block; 
    margin-top: 15px;
}

.signup-container {
    padding-bottom: 100vh;
}

.signin-container p {
    text-align: center;
    margin-top: 10px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .form-container {
        width: 380px;
        max-width: 95%;
    }
}